.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.login_form {
    display: block;
    border: solid;
    border-width: 0.1rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 30vw;
}

.login_form:hover {
    transform: scaleX(1.1) scaleY(1.1);
    transition: 0.7s;
}

.login_form div {
    padding: 0.5rem;
}