:root {
    --primary-color: rgb(25, 25, 57);
    --secondary-color: rgb(57, 57, 78);
    --text-color: white;
}

* {
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--secondary-color) !important;
}

nav {
    background-color: var(--primary-color);
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

nav div strong {
    font-size: 2rem;
}

nav .nav-elements {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none !important;
    color: var(--text-color) !important;
}

nav .logo img {
    width: inherit;
    object-fit: cover;
}

nav .logo {
    width: 3rem;
}